@model IEnumerable<Childrens_Toy_Store.Models.Produkty>

@{
    Layout = null;
    double suma=0.0;
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="tg-mow8 col-lg-4">
            <img src="@item.obrazek" alt="@item.nazwa foto" style="position:center; height: 17px; width: 17px; background-repeat:round" />
        </div>
        <div class="col-lg-8 tg-mow8">
            @Html.DisplayFor(modelItem => item.nazwa)
        </div>
        <div class="col-lg-3 tg-mow8">
            @Html.DisplayFor(modelItem => item.cena)
        </div>
        @{
            suma += item.cena;
        }
        <div class="col-lg-3 tg-mow8">

            @Html.ActionLink("Delete", "Delete", new { id = item.Id_produktu },htmlAttributes:new { @class="przyciskakcept"})
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <p>suma wynosi @suma zł</p>
    </div>
</div>
<div class="">
    <div class="">
        @Html.ActionLink("Opróżnij koszyk","Wyczysckoszyk",routeValues:null,htmlAttributes:new { @class="przyciskakcept"})
    </div>
    <div class="">
        @Html.ActionLink("Złóż zamówienie", "zluzzamuwienia", routeValues: null, htmlAttributes: new { @class = "przyciskakcept" })
    </div>
</div>